
@media (max-width: 786px) {

    button, a.a-button-gray{
      display: block;
      width: 50%;
      margin: 20px auto ;
    }
    section.offers-container {
      margin:auto;
    }

    section.offers-container > article.offers-offer:nth-child(odd) .offers-offer-content,
    section.offers-container > article.offers-offer:nth-child(even) .offers-offer-content,
    section.offers-container > article.offers-offer:nth-child(odd) .offers-offer-action,
    section.offers-container > article.offers-offer:nth-child(even) .offers-offer-action {
      width: 100%;
      text-align: center;
      float: none;
    }

    /* FOR POPUP */ 

    .popUpMenu {
      width: 95vw;
      min-width: 480px;
    }

    .replyDiv{
      padding-left: 10px;
      padding-right: 10px;
    }

    input[type=submit],
    button.button-clear{
      right:10px;
    }

    i.phone{
      transform: translateX(+50%);
      top:13px;
      right:50%;
    }

    .callDiv > a > h3 {
      position: absolute;
      bottom:0px;
      left:50%;
      transform: translateX(-50%);
      text-align: center;
    }
    .callDiv > a > h3:after {
      content: '\A Infolinia';
      white-space: pre;
    }

    .callDiv > h2,
    .callDiv > p {
      display: none;
    }

}

@media (min-width: 786px){

    footer{
      display: none;
    }

}


@media (min-width: 1000px){


}
