
@media (max-width: 786px) {

    button, a.a-button-gray{
      display: block;
      width: 50%;
      margin: 20px auto ;
    }
    section.offers-container {
      margin:auto;
    }

    section.offers-container > article.offers-offer:nth-child(odd) .offers-offer-content,
    section.offers-container > article.offers-offer:nth-child(even) .offers-offer-content,
    section.offers-container > article.offers-offer:nth-child(odd) .offers-offer-action,
    section.offers-container > article.offers-offer:nth-child(even) .offers-offer-action {
      width: 100%;
      text-align: center;
      float: none;
    }


}

.hidden {
  display: none;
}

@media (min-width: 786px){

    footer{
      display: none;
    }
  
}